*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
/whatsapp-stickers-ref/
/stitch/
/Home/
/Assets/
/app/stitch/
*.hprof
